@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Shantell Sans', cursive;
}
 
.fondo-body {
  background: linear-gradient(to right, rgb(168, 235, 252), rgb(157, 96, 255));
}

.navbar bg-body-tertiary {
  margin-left: 750px;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(157, 96, 255);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(157, 96, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn-slider {
  padding-top: 30px;
  width: 60px;
  height: 60px;
}

.btn {
  font-size: 20px;
  background-color: rgb(157, 96, 255);
  color: white;
}

.btn:hover {
  background-color: rgb(168, 235, 252);
}

a {
  color: white;
  text-decoration: none;
}

#foto-concert {
  width: 100%;
  height: 100%;
}

.letra {
  font-size: 55px;
  font-family: 'Mynerve', cursive;
  margin-bottom: 0;
}

tr {
  border-color: black;
}

#aplogo {
  margin: 10px;
  width: 120px;
}

.redes {
  display: flex;
  margin-right: auto;
  margin-left: 0;
  height: 30px;
}

img {
  margin-top: 2px;
  margin-right: 5px;
  width: 40px;
}

#buscar {
  margin-top: 20px;
  margin-left: 11px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
}

.cohort {
  display:flex;
  width: auto;
  height: 40px;
  align-items: center;
  background: linear-gradient(to right, rgb(168, 235, 252), rgb(157, 96, 255));
}

.h4 {
  font-size: 18px;
  margin-left: 1080px;
}

fieldset {
  margin: 15px;
  margin-left: 100px;
  border: none;
}

.contact {
  padding: 80px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
}

label {
  margin-left: 4px;
  margin-right: 15px;
}

.tarjeta1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  width: 300px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
}

.card-title {
  font-size: 24px;
  padding: 10px
}

.card-text {
  padding: 10px;
}

.card-foot {
  padding: 10px;
  margin-bottom: 10px;
}

#foto {
  width: 300px;
  height: 150px;
}

/* ESTILO DE LA TABLA */

h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

.tabla-stats {
  background: -webkit-linear-gradient(left, #64d8fc, #8e58f3);
  background: linear-gradient(to right, #64d8fc, #8e58f3);
  font-family: 'Roboto', sans-serif;
}

table {
  width: 100%;
  table-layout: fixed;
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  border-left: solid 1px rgba(255, 255, 255, 0.1);
  border-right: solid 1px rgba(255, 255, 255, 0.1);
}

section {
  margin: 50px;
} 

/* MEDIAS */ 

/* @media (max-width: 1024px) {

  .btn-slider{
    width: 20px;
    height: 20px;
  } 

}   */